/*
 * Alignment rules
 */

header {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

footer {
  text-align: center;
  font-size: small;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-1 {
  min-width: 15%;
  flex-shrink: 1;
}

.col-2 {
  flex-grow: 2;
}

.col-3 {
  flex-grow: 3;
}

.col-4 {
  flex-grow: 4;
}

.col-5 {
  flex-grow: 5;
}

.col-6 {
  flex-grow: 6
}

.boxed-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-padding {
  padding-top: 15px;
}

.half-width {
  max-width: 50%;
}

.input-box {
  display: flex;
  flex-direction: row;
}

.input-box label {
  flex-grow: 1;
  max-width: 30%;
}

.input-box input {
  flex-grow: 3;
  max-width: 68%;
}

.input-box select {
  flex-grow: 3;
  max-width: 68%;
}

.input-box-large-title {
  display: flex;
  flex-direction: row;
}

.input-box-large-title label {
  flex-grow: 2;
  max-width: 50%;
}

.input-box-large-title input {
  flex-grow: 2;
  max-width: 48%;
}

.input-box-large-title select {
  flex-grow: 2;
  max-width: 48%;
}

.large-input-box {
  width: 99%;
}

textarea {
  font-family: verdana, sans-serif;
  width: 100%;
}

.large-input-box textarea {
  margin-top: 5px;
}

.xl-input-box {
  width: 99%;
}

.xl-input-box input {
  margin-top: 5px;
  width: 100%;
}

.xl-input-box textarea {
  margin-top: 5px;
}

/*
 * Color-related rules
 */

.bg-dark {
  color: whitesmoke;
  background-color: #1b1b1b;
}

.bg-dim {
  color: whitesmoke;
  background-color: #313131;
}

.big-button {
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  background-color: #4080ff;
  border: 1px solid #409aff;
  border-bottom-color: #4040ff;
  border-right-color: #4040ff;
  border-radius: 5px;
  margin-top: 25px;
  padding: 7px;
}

.big-button:hover {
  background-color: #4090ff;
  cursor: pointer;
  border: 1px solid #4060ff;
  border-right-color: #40a3ff;
  border-bottom-color: #40a3ff;
  padding-top: 8px;
  padding-bottom: 6px;
}

.container {
  background-color: #4f4f4f;
  border: 1px solid #3c3c3c;
  margin: 10px;
  padding: 0 15px 15px 15px;
}

/*
 * Visibility-related rules
 */

.hidden {
  display: none !important;
}
